<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>Boolflix</title>
</head>
<body>
    <div class="wrapper" id="root">
        <div class="header">
            <div class="logo">
                <h1>Boolflix</h1>
            </div>
            <div class="search_bar">
                <label for="film_seach">Seleziona il titolo del film</label>
                <input type="text" id="film_search" name="film_search" placeholder="Enter Title" v-model="srcParams" v-on:keyup.enter="srcEvent">
                <button @click="srcEvent">cerca</button>
            </div>
        </div>
        <div class="main_content">
            <div class="film_box" v-for="e in movieList">
                <div class="film_info">
                    <p><span>Titolo</span> : {{e.title}}</p>
                    <p><span>Titolo originale</span> : {{e.original_title}}</p>
                    <p><span>Lingua originale</span> : {{e.original_language}}</p>
                    <p><span>Voto</span> : {{e.vote_average}}</p>
                </div>
            </div>
        </div>
    </div>
    <script src="js/master.js"></script>
</body>
</html>