<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Boolflix</title>
</head>
<body>
    <div class="wrapper" id="root">
        <div class="header">
            <div class="logo">
                <h1>Boolflix</h1>
            </div>
            <div class="search_bar">
                <label for="film_seach">Seleziona il titolo del film</label>
                <input type="text" id="film_search" name="film_search" placeholder="Enter Title" v-model="srcParams" v-on:keyup.enter="srcEvent">
                <button @click="srcEvent">cerca</button>
            </div>
        </div>
        <div class="main_content">
            <h2 v-if="movieList.length == 0"> SCEGLI IL FILM O LA SERIE CHE VUOI VEDERE</h2>
            <div class="film_box" v-for="e in movieList" v-else>
                <img class ="poster" :src="getPoster(e.poster_path)" v-if="e.poster_path" alt="poster">
                <img class ="poster" src="img/img_not_found.png" v-else alt="">
                <div class="film_info">
                    <p><span>Titolo</span> : {{e.title}} {{e.name}}</p>
                    <p><span>Titolo originale</span> : {{e.original_title}} {{e.original_name}}</p>
                    <p><span>Lingua originale</span> : {{e.original_language}} <img class="flag" v-if="avaibleLenguage.includes(e.original_language)" :src="getFlag(e.original_language)" alt="flag"></p>
                    <ul>
                        <li><span>Voto:</span></li>
                        <li v-for="vote in e.vote_average"><i :class="vote"></i></li>
                    </ul>
                    <p v-if = "e.overview"><span>Trama</span> : {{e.overview}} </p>
                    <p v-else>Nessuna trama disponibile</p>
                </div>
            </div>
        </div>
    </div>
    <script src="js/master.js"></script>
</body>
</html>